<html>
  <head>
    <title>Surat Kontrol</title>
  </head>

  <style>
    body {
      display: flex;
    }

    #input-data,
    #wrapper-show {
      margin: 20px;
    }

    #wrapper-show {
      height: 300px;
      overflow: scroll;
    }
  </style>

  <body>
    <div id="input-data">
      <table>
        <tr>
          <td><label for="nomor-rm">Nomor Rekam Medis</label></td>
          <td>
            <input
              id="nomor-rm"
              name="nomorRekamMedis"
              type="text"
              maxlength="10"
            />
          </td>
        </tr>
        <tr>
          <td><label for="nama">Nama</label></td>
          <td><input id="nama" name="nama" type="text" maxlength="100" /></td>
        </tr>
        <tr>
          <td><label for="alamat">Alamat</label></td>
          <td><textarea id="alamat" name="alamat" type="text"></textarea></td>
        </tr>
        <tr>
          <td><label for="diagnosis">Diagnosis</label></td>
          <td>
            <textarea id="diagnosis" name="diagnosis" type="text"></textarea>
          </td>
        </tr>
        <tr>
          <td><label for="terapi">Terapi</label></td>
          <td><textarea id="terapi" name="terapi" type="text"></textarea></td>
        </tr>
        <tr>
          <td><label for="tanggal-kontrol">Tanggal Kontrol</label></td>
          <td>
            <input type="date" name="tanggalKontrol" id="tanggal-kontrol" />
          </td>
        </tr>
        <tr>
          <td>Tempat Kontrol:</td>
        </tr>
        <tr>
          <td>
            <input type="radio" name="tempatKontrol" val="RSIA Zainab" />RSIA
            Zainab
          </td>
        </tr>
        <tr>
          <td><input type="radio" name="tempatKontrol" val="FKTP" />FKTP</td>
        </tr>
        <tr>
          <td>
            <input type="radio" name="tempatKontrol" val="Lainnya" />Lainnya
          </td>
        </tr>
        <tr id="fktp" hidden>
          <td><label for="input-fktp">Nama FKTP</label></td>
          <td>
            <input
              id="input-fktp"
              name="namaTempat"
              type="text"
              maxlength="100"
            />
          </td>
        </tr>
        <tr>
          <td><label for="dokter">Dokter Pengirim</label></td>
          <td>
            <input id="dokter" name="dokter" type="text" maxlength="100" />
          </td>
        </tr>
        <tr>
          <td><label for="keterangan">Keterangan</label></td>
          <td><textarea id="keterangan" name="keterangan"></textarea></td>
        </tr>
      </table>

      <input id="post-data" type="submit" value="Input" />
    </div>
    <div id="wrapper-show">
      <div><input id="search" type="text" placeholder="Cari..." /></div>
      <div id="show-data"></div>
    </div>
  </body>

  <script>
    let postButton = document.getElementById("post-data");
    let search = document.getElementById("search");
    let tempatKontrol = document.querySelectorAll("[name=tempatKontrol]");
    let show = document.getElementById("show-data");

    tempatKontrol.forEach(el => {
      el.onchange = () => {
        if (document.querySelector("[val=FKTP][name=tempatKontrol]").checked) {
          document.getElementById("fktp").hidden = false;
        } else {
          document.getElementById("input-fktp").value = "";
          document.getElementById("fktp").hidden = true;
        }
      };
    });

    let delay;

    search.onkeyup = () => {
      show.innerHTML = "loading...";
      clearTimeout(delay);
      delay = setTimeout(() => {
        show.innerHTML = "";
        fetchData(parseInt(search.value)).then(data => printData(data));
      }, 1000);
    };

    let searchData = nomor_rm => {
      return getData(document.URL + "getdata?search=" + nomor_rm);
    };

    window.onload = () => {
      fetchData().then(data => printData(data));
    };

    postButton.onclick = () => {
      let show = document.getElementById("show-data");
      let text = "Apakah data sudah benar?\n";
      let data = selectAsJSON();
      for (let key in data) {
        text += key + " : " + data[key] + "\n";
      }
      if (confirm(text)) {
        postDataAsJSON(document.URL + "input", data).then(() => {
          fetchData().then(data => {
            show.innerHTML = "";
            printData(data);
          });
        });
        reset();
      }
    };

    let reset = () => {
      let arr = new Array(...document.querySelectorAll("[name]"));
      arr.forEach(el =>
        el.name === "rujuk" ? (el.checked = false) : (el.value = "")
      );
    };

    let selectAsJSON = () => {
      let arr = new Array(...document.querySelectorAll("[name]"));
      return arr.reduce((obj, val) => {
        if (val.name === "tempatKontrol" && val.checked === true) {
          obj[val.name] = val.getAttribute("val");
        } else if (val.name !== "tempatKontrol") {
          obj[val.name] = val.value;
        }

        return obj;
      }, {});
    };

    let postDataAsJSON = (url, data) =>
      fetch(url, {
        method: "POST",
        headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify(data)
      });

    let printData = data => {
      if (data.length != 0) {
        data.forEach(el => {
          let linkNomorSurat = el.nomorSurat.replace(/\//g, "-");
          let nomorSurat = `${el.nomorSurat} - ${el.nama} (${
            el.nomorRekamMedis
          })`;
          show.innerHTML += `<li><a target="_blank" href="/suratkontrol/${linkNomorSurat}">${nomorSurat}</a></li>`;
        });
      } else {
        show.innerHTML = "Data tidak ditemukan!";
      }
    };

    let fetchData = nomorRM =>
      fetch(
        `${document.URL}getdata${nomorRM ? "?search=" + nomorRM : ""}`
      ).then(val => val.json());
  </script>
</html>
